body {
    background: none;
    /* Hide background initially */
    transition: background 1s ease;
    /* Smooth transition for background appearance */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    visibility: hidden;
    /* Hide initially */
    position: relative;
    /* height: 150px; */
    width: 150px;
}

.donut {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}